<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <h1>EJS Demo</h1>
  <form method="post">
      <input type="text" name="data" id="">
      <button type="submit">Add</button>
    </form> 

    <%if(bikes.length !=0){%>
    <ol>
      <%for(let i=0;i<bikes.length;i++){%>
        <li><%=bikes[i]%></li>
      <%}%>
    </ol>
    <%}else{%>
      <h1>No Data Found</h1>
    <%}%> 
   
  </body>
  </html>